// Local variables
$year-font-height: 3.44rem;
$border-colour: darkred;

// Styling
body.page-template-gallery {
    .gallery-timeline {
        display: flex;
        flex-direction: row;
        min-height: 100vh;
        .timeline-section {
            height: auto;
            width: 15%;
            h2.timeline-year { 
                width: 100%;
                font-size: 3rem;
                margin: 0;
                span {
                    display: block;
                    font-size: 1.5rem;
                }
            }   
            .timeline-line {
                height: calc(100% - #{ $year-font-height });
                background: $off-black;
                width: 3px;
                margin-left: 50%;
            }
        }
        .images-section {
            display: flex;
            flex-wrap: wrap;
            width: 85%;
            margin: 3rem 0;
            .post-img-wrap {
                display: flex;
                flex-direction: column;
                padding: 0.5rem;
            // all image parents *-parent
                .post-img { 
                    overflow: hidden;
                    position: relative;
                    margin-bottom: 2rem;
                    .hover-border {
                        z-index: 1;
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        transition: box-shadow 300ms ease;
                        &:hover { box-shadow: inset 0 0 0 7px $border-colour; }
                    }
                } 
            }
            .portrait-parent {
                width: 33%;
                .portrait-wrap { height: 60vh; }
            }
            .landscape-parent { width: 50%; }
            .doublelandscape-parent { width: 100%; }
        }
        // Styling unique to number of posts
        .posts-1 {
            justify-content: center;
            align-items: center;
        }
        .posts-3 {
            .post-img-wrap:nth-child(odd) {
                .post-img { order: -1; }
            }
            .post-img-wrap:nth-child(2) {
                align-self: flex-end;
            }
        }
        .posts-6 {
            justify-content: space-between;
        }
    }
    .gallery-timeline:last-of-type {
        .timeline-line { 
            background: linear-gradient(to bottom, 
                rgba($off-black, 1) 0%, 
                rgba($off-black, 0.5) 70%, 
                rgba($off-black, 0) 100%
            ); 
        }
    }

    // aside font styling
    .timeline-title h2 {
        width: 15%;
        font-size: 2rem;
    }
    h2.timeline-year, .timeline-title h2 { 
        color: $off-black;
        text-align: center;
        font-weight: bold;
        letter-spacing: .2rem;
    }
}