// Local variables
$year-font-height: 3.44rem;
$border-colour: darkred;

// Styling
body.page-template-gallery {
    .gallery-timeline {
        display: flex;
        flex-direction: row;
        min-height: 90vh;
        .timeline-section {
            height: auto;
            width: 15%;
            h2.timeline-year { 
                width: 100%;
                font-size: 3rem;
                margin: 0;
                span {
                    display: block;
                    font-size: 1.5rem;
                }
            }   
            .timeline-line {
                height: calc(100% - #{ $year-font-height });
                background: $off-black;
                width: 3px;
                margin-left: 50%;
            }
        }
        .images-section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 85%;
            .post-img-wrap {
                padding: 0.5rem;
            // all image parents *-parent
            .post-img { 
                overflow: hidden;
                position: relative;
                .hover-border {
                    z-index: 1;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    transition: box-shadow 300ms ease;
                    &:hover { box-shadow: inset 0 0 0 7px $border-colour; }
                }
            } 

            .portrait-parent {
                width: 33%;
                .portrait-wrap { height: 60vh; }
            }
            .landscape-parent { 
                width: 50%;
                padding-right: 0.25rem;
            }
            .doublelandscape-parent { width: 100%; }
            }
        }
    }
    // aside font styling
    .timeline-title h2 {
        width: 15%;
        font-size: 2rem;
    }
    h2.timeline-year, .timeline-title h2 { 
        color: $off-black;
        text-align: center;
        font-weight: bold;
        letter-spacing: .2rem;
    }
}